/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {

  /* main */
  --accent-color: #00CC14;
  --theme-bg: #000000;
  --accent-button: #00CC14;
  --button-text: #00CC14;

  /* like icon */

  --fill-active: #FF0000;
  --fill-border: #00cc14;
  --fill-heart: #ff0000;

  --gradient: #007f0c;
  --gradient-second: #004306;
  --line-color: #000;

  --main-ff: 'Inter-Variable';
  --second-ff: 'PressStart2P';

  --s-fz: 14px;
  --m-fz: 18px;

  --s-font-wght: 'wght' 465;
  --l-font-wght: 'wght' 785;

  --s-lh: 14px;
  --ssm-lh: 21px;
  --sm-lh: 22px;
  --m-lh: 23px;

  --shadow: #000;
}